header, nav, main {
    max-width: 960px;
    margin: auto;
}

/* NAVIGATION STUFF GOES HERE  */

#hamburgerBtn {
    display: none;
}

.moveOver>.content {
    transform: translateX(0px);
}

nav {
    background-color: transparent;
    position: static;
    transform: translateX(0);
    width: auto;
    ul {
        display: flex;
        margin-left: $gutter;
        border-left: 1px solid rgba(0,0,0,.2);
    }
    ul li a {
      padding: .6rem 1.5rem;
      border: none;
      border-right: 1px solid rgba(0,0,0,.2);  
    }
}

#cards {
   display: grid;
   grid-template-columns: 1fr 1fr;
   
} //end of cards