$primaryColor: #480903; 
$secondaryColor: #4a3d12;
$accentColor: #57320f;
$greyColor: #ccc;

$defaultFont:'Inter Tight', sans-serif;
$lightWeight: 300;
$normalWeight: 500;
$leading: 150%;

$gutter: 10px;